extends ../layout

block content
    h1 Alteração dos Dados
    hr
    br
    form(method="POST", action="/usuarios/edit/#{value._id}", role="form")
      input(type="hidden" name="_method" value="put")
      div(class="form-group")
        label Titulo:
        input(type="text", name="titulo", class="form-control", value="#{value.titulo}")
      div(class="form-group")
        label Slogan:
        input(type="text", name="slogan", class="form-control", value="#{value.slogan}")
      div(class="form-group")
        label Descrição:
        input(type="text", name="descricao", class="form-control", value="#{value.descricao}")
      div(class="form-group")
        label Corpo:
        input(type="text", name="corpo", class="form-control", value="#{value.corpo}")
      div(class="form-group")
        label Autor:
        input(type="text", name="autor", class="form-control", value="#{value.autor}")
      input(type="submit", value="Atualizar", class="btn btn-success")
    br
    br
    a(href="/usuarios" title="Voltar") Voltar
